{% extends 'base.html' %}

{% block content %}

	<div class="row">
		<div class='col-xs-6 col-xs-offset-4'>
	
			<form action="{% url 'add_photo' %}"
				method="post"
				enctype="multipart/form-data"
				role='form'
				class="form-horisontal">
				{% csrf_token %}

				<div class="row">	

					<div class="form-group {% if errors.photo %}has-error{% endif %}">
						<label for="photo"
							class="label_form">Додати фото</label>
						<span class="help-block">
							<input type="file" name="photo" id="photo" >
							{{ errors.photo }}
						</span>
					</div>

				</div>

				<div class="row">	

					<button class="my_btn" name="send_button" type="submit">Зберегти до альбому</button>
					<button class="my_btn_link" name="cancel_button" type="submit">Скасувати</button>

				</div>	
				
			</form>
			
		</div>

	</div>

	<div class="row">
		<div class="col-xs-2 col-xs-offset-4" style="margin-top: 30px">
				{% if request.GET.status_message %}
					<div class="alert alert-warning" role="alert">
					<p class="p_message">{{ request.GET.status_message }}</p>
				</div>
			{% endif %}
		</div>
	</div>
	

{% endblock content %}